:root {
  --color-bg-red: #670d10;
  --color-bg-blue: #092756;
  --color-green: #a2ccb6;
  --color-light-peach: #ffecd9;
  --color-peach: #ee786e;
  --color-sand: #fceeb5;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    var(--color-bg-red),
    var(--color-bg-blue)
  );
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  overflow-x: hidden;
}
