:root {
  --color-bg-red: #670d10;
  --color-bg-blue: #092756;
  --color-green: #a2ccb6;
  --color-light-peach: #ffecd9;
  --color-peach: #ee786e;
  --color-sand: #fceeb5;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #302140;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 600px;
}

.form__item {
  display: block;
  width: 100%;
}

.form label {
  display: block;
}

.form textarea {
  width: 100%;
  height: 200px;
}
