:root {
  --color-bg-red: #670d10;
  --color-bg-blue: #092756;
  --color-green: #a2ccb6;
  --color-light-peach: #ffecd9;
  --color-peach: #ee786e;
  --color-sand: #fceeb5;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    var(--color-bg-red),
    var(--color-bg-blue)
  );
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  overflow-x: hidden;
}

/* DOTS */

.bg {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

.bg__dot {
  position: absolute;
  background: linear-gradient(
    to left,
    var(--color-bg-red),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;
  opacity: 0.5;
}

.bg__dot:nth-child(1) {
  animation: move1 15s infinite linear both;
  bottom: 95vh;
  height: 15vh;
  width: 15vh;
}

.bg__dot:nth-child(2) {
  animation: move2 20s infinite linear both;
  height: 20vh;
  top: 95%;
  width: 20vh;
}

/* BUTTON */

/* FIELDSET */

.fieldset__item {
  font-size: 28px;
  margin-bottom: 32px;
}

/* FORM */

.form {
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.35)
  );
  border-radius: 15px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.3);
  max-height: 100%;
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 36px 24px;
  position: relative;
  text-align: center;
  width: 100%;
}

.form__area {
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.form__container {
  margin-bottom: 32px;
  position: relative;
}

.form__icon {
  border: solid 3px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.3);
  height: 72px;
  margin: 0 auto 24px;
  overflow: hidden;
  position: relative;
  width: 72px;
}

.form__icon:before {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  border-radius: 50%;
  content: "";
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 48px;
}

.form__icon:after {
  background: rgba(255, 255, 255, 0.7);
  bottom: 45%;
  border-radius: 50%;
  content: "";
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
}

.form__item {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.4)
  );
  border: none;
  border-radius: 18px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 24px;
  outline: transparent;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease-out, box-shadow 0.3s ease-out,
    color 0.3s ease-out, outline 0.3s ease-out;
  padding: 12px 24px;
  width: 100%;
}

.form__item:hover:not(:focus) {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
}

.form__spacer {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  display: block;
  height: 2px;
  margin: 32px auto;
  width: 80%;
}

.form label {
  display: block;
}

/* HEADING */
